<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container my-3">
        <table class="table">
            <thead>
                <tr class="thead-dark">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일자</th>
                </tr>
            </thead>
            <tbody>
                {% if question_list %}
                {% for question in question_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'polls:detail' question.id %}">{{ question.subject }}</a>
                        {% if question.answer_set.count >= 0 %}
                        <span class="text-success small ml-2">({{ question.answer_set.count }})</span>
                        {% endif %}
                    </td>
                    <td>{{ question.pub_date }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">질문이 없습니다</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        {% comment %} # 페이징 처리 시작 {% endcomment %}
        <ul class="pagination justify-content-center">
            {% comment %} 이전페이지 {% endcomment %}
            {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            {% comment %}  페이지리스트 {% endcomment %}
            {% for page_number in question_list.paginator.page_range %}
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                {% if page_number == question_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            {% comment %} 다음페이지 {% endcomment %}
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        {% comment %} # 페이징 처리 끝 {% endcomment %}
        <a href="{% url 'polls:question_create' %}" class="btn btn-primary">질문 등록</a>
    </div>
    {% endblock %}
</body>

</html>